
<div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" class="input" type="text" name="firstName" value="<%= typeof formData !== 'undefined' ? formData.firstName : '' %>" placeholder="First Name" aria-label="Add first name">
    <label for="lastName">Last Name</label>
    <input id="lastName" class="input" type="text" name="lastName" value="<%= typeof formData !== 'undefined' ? formData.lastName : '' %>" placeholder="Last Name" aria-label="Add last name">
</div>
<div class="form-group">
    <label for="streetAddress">Address</label>
    <input id="streetAddress" class="input" type="text" name="streetAddress" value="<%= typeof formData !== 'undefined' ? formData.streetAddress : '' %>" placeholder="Street Address" aria-label="Add street Address">
</div>
<div class="form-group">
    <label>City</label>
    <input id="city" class="input" type="text" name="city" value="<%= typeof formData !== 'undefined' ? formData.city : '' %>" placeholder="city" aria-label="Add city">
    <label for="state">State</label>
    <input id="state" class="input" type="text" name="state" value="<%= typeof formData !== 'undefined' ? formData.state : '' %>" placeholder="State" aria-label="Add state">
    <label for="zipCode">Zip Code</label>
    <input id="zipCode" class="input" type="text" name="zipCode" value="<%= typeof formData !== 'undefined' ? formData.zipCode : '' %>" placeholder="Zip Code" aria-label="Add zip code">
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input id="phone" class="input" type="text" name="phone" value="<%= typeof formData !== 'undefined' ? formData.phone : '' %>" placeholder="Phone" aria-label="Add phone number">
    <label for="email">Email</label>
    <input id="email" class="input" type="email" name="email" value="<%= typeof formData !== 'undefined' ? formData.email : '' %>" placeholder="Email" aria-label="Add email address">
</div>
<div class="form-group">
    <label for="category-tags">Categories</label>
    <input id="category-tags" class="input" type="text" name="category" value="<%= typeof formData !== 'undefined' ? formData.category : '' %>" placeholder="Enter categories (separate with commas)" title="Enter categories separated by commas, e.g.: family, work, school" aria-label="Add categories separated by commas, e.g.: family, work, school">
</div>